flows/health_monitoring.json
[
  {
    "id": "smart_health_flow",
    "type": "tab",
    "label": "Smart Health Dashboard",
    "disabled": false,
    "info": "Smart Health Monitoring System - Simulation + Dashboard wired to industrialapi.savimind.com"
  },
  {
    "id": "global_config_smart_health",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-dashboard": "3.6.6",
      "node-red-node-ui-table": "0.4.5"
    }
  },

  {
    "id": "ui_tab_overview",
    "type": "ui_tab",
    "name": "Overview",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_tab_live",
    "type": "ui_tab",
    "name": "Live Metrics",
    "icon": "timeline",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_tab_alerts",
    "type": "ui_tab",
    "name": "Alerts",
    "icon": "warning",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_tab_reports",
    "type": "ui_tab",
    "name": "Reports",
    "icon": "bar_chart",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_tab_login",
    "type": "ui_tab",
    "name": "Login",
    "icon": "person",
    "disabled": false,
    "hidden": false
  },

 
  {
    "id": "ui_group_overview_kpis",
    "type": "ui_group",
    "name": "KPIs",
    "tab": "ui_tab_overview",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_overview_patients",
    "type": "ui_group",
    "name": "Patients",
    "tab": "ui_tab_overview",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_overview_detail",
    "type": "ui_group",
    "name": "Patient Detail",
    "tab": "ui_tab_overview",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },

  {
    "id": "ui_group_live_controls",
    "type": "ui_group",
    "name": "Simulation Controls",
    "tab": "ui_tab_live",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_live_gauges",
    "type": "ui_group",
    "name": "Current Vitals",
    "tab": "ui_tab_live",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_live_chart_rest",
    "type": "ui_group",
    "name": "REST Live Chart",
    "tab": "ui_tab_live",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_live_graphql",
    "type": "ui_group",
    "name": "GraphQL",
    "tab": "ui_tab_live",
    "order": 4,
    "disp": true,
    "width": "12",
    "collapse": false
  },

  {
    "id": "ui_group_alerts_list",
    "type": "ui_group",
    "name": "Active Alerts",
    "tab": "ui_tab_alerts",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_alerts_actions",
    "type": "ui_group",
    "name": "Alert Actions",
    "tab": "ui_tab_alerts",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },

  {
    "id": "ui_group_reports_controls",
    "type": "ui_group",
    "name": "Controls",
    "tab": "ui_tab_reports",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_reports_summary",
    "type": "ui_group",
    "name": "Summary",
    "tab": "ui_tab_reports",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_reports_csv",
    "type": "ui_group",
    "name": "CSV Export",
    "tab": "ui_tab_reports",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_reports_thresholds",
    "type": "ui_group",
    "name": "Thresholds",
    "tab": "ui_tab_reports",
    "order": 4,
    "disp": true,
    "width": "12",
    "collapse": false
  },

  {
    "id": "ui_group_login_form",
    "type": "ui_group",
    "name": "Login",
    "tab": "ui_tab_login",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_login_status",
    "type": "ui_group",
    "name": "Status",
    "tab": "ui_tab_login",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },

  {
    "id": "fn_attach_auth_header_template",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Attach Auth Header (template)",
    "func": "const token = global.get('authToken');\nmsg.headers = msg.headers || {};\nif (token) {\n    msg.headers.Authorization = `Bearer ${token}`;\n} else {\n    node.warn('No auth token set – protected endpoint may return 401');\n}\nif (msg.url) {\n    node.status({ fill: \"blue\", shape: \"dot\", text: `${msg.method || 'GET'} ${msg.url}` });\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 220,
    "y": 40,
    "wires": []
  },

  {
    "id": "ui_login_username",
    "type": "ui_text_input",
    "z": "smart_health_flow",
    "name": "Username",
    "label": "Username",
    "group": "ui_group_login_form",
    "order": 1,
    "width": 6,
    "height": 1,
    "passthru": true,
    "mode": "text",
    "delay": 0,
    "topic": "",
    "x": 200,
    "y": 880,
    "wires": [
      [
        "fn_store_username"
      ]
    ]
  },
  {
    "id": "ui_login_password",
    "type": "ui_text_input",
    "z": "smart_health_flow",
    "name": "Password",
    "label": "Password",
    "group": "ui_group_login_form",
    "order": 2,
    "width": 6,
    "height": 1,
    "passthru": true,
    "mode": "password",
    "delay": 0,
    "topic": "",
    "x": 200,
    "y": 920,
    "wires": [
      [
        "fn_store_password"
      ]
    ]
  },
  {
    "id": "ui_login_button",
    "type": "ui_button",
    "z": "smart_health_flow",
    "name": "Login Button",
    "group": "ui_group_login_form",
    "order": 3,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "Login",
    "tooltip": "Authenticate and store JWT",
    "color": "",
    "bgcolor": "",
    "icon": "lock_open",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 200,
    "y": 960,
    "wires": [
      [
        "fn_build_login_request"
      ]
    ]
  },
  {
    "id": "fn_store_username",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Store username",
    "func": "global.set('loginUsername', msg.payload || '');\nreturn null;",
    "outputs": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 880,
    "wires": []
  },
  {
    "id": "fn_store_password",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Store password",
    "func": "global.set('loginPassword', msg.payload || '');\nreturn null;",
    "outputs": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 920,
    "wires": []
  },
  {
    "id": "fn_build_login_request",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Build POST /api/auth/login",
    "func": "const username = global.get('loginUsername') || '';\nconst password = global.get('loginPassword') || '';\n\nif (!username || !password) {\n    msg.payload = 'Username and password are required.';\n    msg.loginError = true;\n    return [null, msg];\n}\n\nmsg.method = 'POST';\nmsg.url = 'https://industrialapi.savimind.com/api/auth/login';\nmsg.headers = {\n    'Content-Type': 'application/json'\n};\nmsg.payload = { username, password };\n\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 960,
    "wires": [
      [
        "http_login"
      ],
      [
        "ui_login_status"
      ]
    ]
  },
  {
    "id": "http_login",
    "type": "http request",
    "z": "smart_health_flow",
    "name": "POST /api/auth/login",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": {},
    "x": 760,
    "y": 960,
    "wires": [
      [
        "fn_handle_login_response"
      ]
    ]
  },
  {
    "id": "fn_handle_login_response",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Handle login response",
    "func": "const status = msg.statusCode || msg.status || 0;\n\nif (status >= 200 && status < 300 && msg.payload && msg.payload.token) {\n    global.set('authToken', msg.payload.token);\n    msg.payload = 'Login successful. Token stored.';\n    msg.loginOk = true;\n} else {\n    global.set('authToken', null);\n    const errorText = msg.payload && msg.payload.detail\n        ? msg.payload.detail\n        : `Login failed (status ${status}).`;\n    msg.payload = errorText;\n    msg.loginOk = false;\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1030,
    "y": 960,
    "wires": [
      [
        "ui_login_status"
      ]
    ]
  },
  {
    "id": "ui_login_status",
    "type": "ui_text",
    "z": "smart_health_flow",
    "group": "ui_group_login_status",
    "order": 1,
    "width": 12,
    "height": 1,
    "name": "Login Status",
    "label": "Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1310,
    "y": 960,
    "wires": []
  },


  {
    "id": "fn_auth_overview_kpis",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Auth → Overview KPIs",
    "func": "const token = global.get('authToken');\nmsg.headers = msg.headers || {};\nif (token) {\n    msg.headers.Authorization = `Bearer ${token}`;\n} else {\n    node.warn('No auth token set – protected endpoint may return 401');\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 60,
    "wires": [
      [
        "http_overview_kpis"
      ]
    ]
  },
  {
    "id": "fn_auth_overview_patients",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Auth → Patients",
    "func": "const token = global.get('authToken');\nmsg.headers = msg.headers || {};\nif (token) {\n    msg.headers.Authorization = `Bearer ${token}`;\n} else {\n    node.warn('No auth token set – protected endpoint may return 401');\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 140,
    "wires": [
      [
        "http_patients_list"
      ]
    ]
  },
  {
    "id": "fn_auth_patient_readings",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Auth → Readings",
    "func": "const token = global.get('authToken');\nmsg.headers = msg.headers || {};\nif (token) {\n    msg.headers.Authorization = `Bearer ${token}`;\n} else {\n    node.warn('No auth token set – protected endpoint may return 401');\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 820,
    "y": 260,
    "wires": [
      [
        "http_patient_readings"
      ]
    ]
  },
  {
    "id": "fn_auth_alerts",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Auth → Alerts",
    "func": "const token = global.get('authToken');\nmsg.headers = msg.headers || {};\nif (token) {\n    msg.headers.Authorization = `Bearer ${token}`;\n} else {\n    node.warn('No auth token set – protected endpoint may return 401');\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 360,
    "wires": [
      [
        "http_alerts_active"
      ]
    ]
  },
  {
    "id": "fn_auth_alert_ack",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Auth → Alert Ack",
    "func": "const token = global.get('authToken');\nmsg.headers = msg.headers || {};\nif (token) {\n    msg.headers.Authorization = `Bearer ${token}`;\n} else {\n    node.warn('No auth token set – protected endpoint may return 401');\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 420,
    "wires": [
      [
        "http_alert_ack"
      ]
    ]
  },
  {
    "id": "fn_auth_reports_summary",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Auth → Summary",
    "func": "const token = global.get('authToken');\nmsg.headers = msg.headers || {};\nif (token) {\n    msg.headers.Authorization = `Bearer ${token}`;\n} else {\n    node.warn('No auth token set – protected endpoint may return 401');\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 560,
    "wires": [
      [
        "http_reports_summary"
      ]
    ]
  },
  {
    "id": "fn_auth_reports_export",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Auth → Export CSV",
    "func": "const token = global.get('authToken');\nmsg.headers = msg.headers || {};\nif (token) {\n    msg.headers.Authorization = `Bearer ${token}`;\n} else {\n    node.warn('No auth token set – protected endpoint may return 401');\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 640,
    "wires": [
      [
        "http_reports_export"
      ]
    ]
  },
  {
    "id": "fn_auth_thresholds",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Auth → Thresholds",
    "func": "const token = global.get('authToken');\nmsg.headers = msg.headers || {};\nif (token) {\n    msg.headers.Authorization = `Bearer ${token}`;\n} else {\n    node.warn('No auth token set – protected endpoint may return 401');\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 720,
    "wires": [
      [
        "http_thresholds_put"
      ]
    ]
  },
  {
    "id": "fn_auth_ingest",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Auth → Ingest Data",
    "func": "const token = global.get('authToken');\nmsg.headers = msg.headers || {};\nif (token) {\n    msg.headers.Authorization = `Bearer ${token}`;\n} else {\n    node.warn('No auth token set – ingestion may return 401');\n}\nmsg.headers['Content-Type'] = 'application/json';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 740,
    "wires": [
      [
        "http_ingest_data"
      ]
    ]
  },


  {
    "id": "btn_refresh_overview",
    "type": "ui_button",
    "z": "smart_health_flow",
    "name": "Refresh Overview",
    "group": "ui_group_overview_kpis",
    "order": 1,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "Refresh Overview",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "refresh",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 140,
    "y": 100,
    "wires": [
      [
        "fn_auth_overview_kpis",
        "fn_auth_overview_patients"
      ]
    ]
  },
  {
    "id": "http_overview_kpis",
    "type": "http request",
    "z": "smart_health_flow",
    "name": "GET /overview/kpis",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://industrialapi.savimind.com/api/overview/kpis?window_minutes=5",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": {},
    "x": 610,
    "y": 60,
    "wires": [
      [
        "fn_map_kpis_to_widgets"
      ]
    ]
  },
  {
    "id": "fn_map_kpis_to_widgets",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Map KPIs to widgets",
    "func": "const data = msg.payload || {};\n\nconst toNumberOrZero = (v) => {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : 0;\n};\n\nconst patientsMsg = { payload: toNumberOrZero(data.patients_monitored) };\nconst alertsMsg   = { payload: toNumberOrZero(data.active_alerts) };\nconst avgHrMsg    = { payload: toNumberOrZero(data.average_heart_rate) };\n\nreturn [patientsMsg, alertsMsg, avgHrMsg];",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 880,
    "y": 60,
    "wires": [
      [
        "txt_kpi_patients"
      ],
      [
        "txt_kpi_alerts"
      ],
      [
        "txt_kpi_avghr"
      ]
    ]
  },
  {
    "id": "txt_kpi_patients",
    "type": "ui_text",
    "z": "smart_health_flow",
    "group": "ui_group_overview_kpis",
    "order": 2,
    "width": 3,
    "height": 1,
    "name": "Patients Monitored",
    "label": "Patients Monitored",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1160,
    "y": 40,
    "wires": []
  },
  {
    "id": "txt_kpi_alerts",
    "type": "ui_text",
    "z": "smart_health_flow",
    "group": "ui_group_overview_kpis",
    "order": 3,
    "width": 3,
    "height": 1,
    "name": "Active Alerts",
    "label": "Active Alerts",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1160,
    "y": 80,
    "wires": []
  },
  {
    "id": "txt_kpi_avghr",
    "type": "ui_text",
    "z": "smart_health_flow",
    "group": "ui_group_overview_kpis",
    "order": 4,
    "width": 3,
    "height": 1,
    "name": "Average HR (5 min)",
    "label": "Avg HR (5 min)",
    "format": "{{msg.payload}} bpm",
    "layout": "row-spread",
    "className": "",
    "x": 1170,
    "y": 120,
    "wires": []
  },
  {
    "id": "http_patients_list",
    "type": "http request",
    "z": "smart_health_flow",
    "name": "GET /patients",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://industrialapi.savimind.com/api/patients",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": {},
    "x": 620,
    "y": 140,
    "wires": [
      [
        "fn_map_patients_table"
      ]
    ]
  },
  {
    "id": "fn_map_patients_table",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Map Patients to table",
    "func": "const body = msg.payload || {};\nmsg.payload = Array.isArray(body.items) ? body.items : [];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 880,
    "y": 140,
    "wires": [
      [
        "tbl_patients"
      ]
    ]
  },
  {
    "id": "tbl_patients",
    "type": "ui_table",
    "z": "smart_health_flow",
    "group": "ui_group_overview_patients",
    "name": "Patients Table",
    "order": 1,
    "width": 0,
    "height": 0,
    "columns": [
      { "field": "patient_id", "title": "Patient ID", "width": "120" },
      { "field": "patient_name", "title": "Name", "width": "120" },
      { "field": "status", "title": "Status", "width": "80" },
      { "field": "last_heart_rate", "title": "HR", "width": "80" },
      { "field": "last_oxygen_level", "title": "SpO2", "width": "80" },
      { "field": "last_update", "title": "Last Update", "width": "180" }
    ],
    "outputs": 1,
    "cts": false,
    "x": 1170,
    "y": 180,
    "wires": [
      [
        "fn_handle_patient_row_click"
      ]
    ]
  },
  {
    "id": "fn_handle_patient_row_click",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Handle Patient Row Click",
    "func": "const row = msg.payload;\nif (!row || !row.patient_id) {\n    node.warn('Clicked row missing patient_id');\n    return null;\n}\n\nflow.set('selectedPatientId', row.patient_id);\nflow.set('selectedPatientName', row.patient_name || '');\n\nconst detailMsg = {\n  payload: `Selected: ${row.patient_name || 'Unknown'} (${row.patient_id})`\n};\n\nconst readingsMsg = {\n  payload: row.patient_id\n};\n\nreturn [detailMsg, readingsMsg];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 260,
    "y": 240,
    "wires": [
      [
        "txt_selected_patient"
      ],
      [
        "fn_build_patient_readings"
      ]
    ]
  },
  {
    "id": "txt_selected_patient",
    "type": "ui_text",
    "z": "smart_health_flow",
    "group": "ui_group_overview_detail",
    "order": 1,
    "width": 6,
    "height": 1,
    "name": "Selected Patient",
    "label": "Selected Patient",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 600,
    "y": 220,
    "wires": []
  },
  {
    "id": "fn_build_patient_readings",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Build GET /patients/{id}/readings",
    "func": "const patientId = msg.payload;\nif (!patientId) {\n    node.warn('No patientId provided for readings');\n    return null;\n}\n\nmsg.method = 'GET';\nmsg.url = `https://industrialapi.savimind.com/api/patients/${encodeURIComponent(patientId)}/readings?limit=10`;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 260,
    "wires": [
      [
        "fn_auth_patient_readings"
      ]
    ]
  },
  {
    "id": "http_patient_readings",
    "type": "http request",
    "z": "smart_health_flow",
    "name": "GET /patients/{id}/readings",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": {},
    "x": 1120,
    "y": 260,
    "wires": [
      [
        "fn_map_readings_to_chart"
      ]
    ]
  },
  {
    "id": "fn_map_readings_to_chart",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Map readings → mini chart",
    "func": "const body = msg.payload || {};\nconst readings = Array.isArray(body.items) ? body.items : [];\n\nconst out = readings.map(r => ({\n  payload: Number(r.heart_rate) || 0,\n  timestamp: r.timestamp\n}));\n\nreturn [out];",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1420,
    "y": 260,
    "wires": [
      [
        "chart_patient_hr_last10"
      ]
    ]
  },
  {
    "id": "chart_patient_hr_last10",
    "type": "ui_chart",
    "z": "smart_health_flow",
    "name": "Patient HR (Last 10)",
    "group": "ui_group_overview_detail",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "Heart Rate (Last 10)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "40",
    "ymax": "180",
    "removeOlder": 10,
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#1f77b4", "#aec7e8"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1720,
    "y": 260,
    "wires": []
  },

  {
    "id": "btn_refresh_alerts",
    "type": "ui_button",
    "z": "smart_health_flow",
    "name": "Refresh Alerts",
    "group": "ui_group_alerts_list",
    "order": 1,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "Refresh Alerts",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "refresh",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 150,
    "y": 360,
    "wires": [
      [
        "fn_auth_alerts"
      ]
    ]
  },
  {
    "id": "http_alerts_active",
    "type": "http request",
    "z": "smart_health_flow",
    "name": "GET /alerts?status=ACTIVE",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://industrialapi.savimind.com/api/alerts?status=ACTIVE",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": {},
    "x": 420,
    "y": 360,
    "wires": [
      [
        "fn_map_alerts_to_table"
      ]
    ]
  },
  {
    "id": "fn_map_alerts_to_table",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Map alerts to table",
    "func": "const body = msg.payload || {};\nmsg.payload = Array.isArray(body.items) ? body.items : [];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 360,
    "wires": [
      [
        "tbl_alerts"
      ]
    ]
  },
  {
    "id": "tbl_alerts",
    "type": "ui_table",
    "z": "smart_health_flow",
    "group": "ui_group_alerts_list",
    "name": "Alerts Table",
    "order": 2,
    "width": 0,
    "height": 0,
    "columns": [
      { "field": "alert_id", "title": "Alert ID", "width": "120" },
      { "field": "patient_id", "title": "Patient", "width": "120" },
      { "field": "metric", "title": "Metric", "width": "80" },
      { "field": "type", "title": "Type", "width": "80" },
      { "field": "value", "title": "Value", "width": "80" },
      { "field": "created_at", "title": "Created", "width": "180" }
    ],
    "outputs": 1,
    "cts": false,
    "x": 970,
    "y": 360,
    "wires": [
      [
        "fn_handle_alert_row_click"
      ]
    ]
  },
  {
    "id": "fn_handle_alert_row_click",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Handle Alert Row Click",
    "func": "const row = msg.payload;\nif (!row || !row.alert_id) {\n  node.warn('Clicked row missing alert_id');\n  return null;\n}\nflow.set('selectedAlertId', row.alert_id);\nmsg.payload = `Selected alert: ${row.alert_id} (patient: ${row.patient_id || 'N/A'})`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1230,
    "y": 360,
    "wires": [
      [
        "txt_selected_alert"
      ]
    ]
  },
  {
    "id": "txt_selected_alert",
    "type": "ui_text",
    "z": "smart_health_flow",
    "group": "ui_group_alerts_actions",
    "order": 1,
    "width": 8,
    "height": 1,
    "name": "Selected Alert",
    "label": "Selected Alert",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1500,
    "y": 360,
    "wires": []
  },
  {
    "id": "btn_ack_alert",
    "type": "ui_button",
    "z": "smart_health_flow",
    "name": "Acknowledge Alert",
    "group": "ui_group_alerts_actions",
    "order": 2,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "Acknowledge Alert",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "done",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 170,
    "y": 420,
    "wires": [
      [
        "fn_build_alert_ack"
      ]
    ]
  },
  {
    "id": "fn_build_alert_ack",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Build POST /alerts/{id}/ack",
    "func": "const alertId = flow.get('selectedAlertId');\nif (!alertId) {\n  node.warn('No selected alert to acknowledge');\n  return null;\n}\nmsg.method = 'POST';\nmsg.url = `https://industrialapi.savimind.com/api/alerts/${encodeURIComponent(alertId)}/ack`;\nmsg.headers = msg.headers || {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.payload = {};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 420,
    "wires": [
      [
        "fn_auth_alert_ack"
      ]
    ]
  },
  {
    "id": "http_alert_ack",
    "type": "http request",
    "z": "smart_health_flow",
    "name": "POST /alerts/{id}/ack",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": {},
    "x": 1060,
    "y": 420,
    "wires": [
      [
        "fn_handle_ack_response"
      ]
    ]
  },
  {
    "id": "fn_handle_ack_response",
    "type": "function",
    "z": "smart_health_flow",
    "name": "After Ack → refresh",
    "func": "const status = msg.statusCode || msg.status || 0;\nif (status >= 200 && status < 300) {\n  msg.payload = 'Alert acknowledged successfully. Refreshing list...';\n} else {\n  msg.payload = `Failed to acknowledge alert (status ${status}).`;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1360,
    "y": 420,
    "wires": [
      [
        "txt_ack_status",
        "fn_auth_alerts"
      ]
    ]
  },
  {
    "id": "txt_ack_status",
    "type": "ui_text",
    "z": "smart_health_flow",
    "group": "ui_group_alerts_actions",
    "order": 3,
    "width": 6,
    "height": 1,
    "name": "Ack Status",
    "label": "Ack Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1640,
    "y": 420,
    "wires": []
  },


  {
    "id": "dd_report_window",
    "type": "ui_dropdown",
    "z": "smart_health_flow",
    "name": "Window Selector",
    "label": "Time Window",
    "tooltip": "",
    "place": "Select window",
    "group": "ui_group_reports_controls",
    "order": 1,
    "width": 4,
    "height": 1,
    "passthru": true,
    "options": [
      { "label": "5 min", "value": 5, "type": "num" },
      { "label": "15 min", "value": 15, "type": "num" },
      { "label": "60 min", "value": 60, "type": "num" }
    ],
    "payload": "",
    "topic": "",
    "x": 160,
    "y": 520,
    "wires": [
      [
        "fn_set_report_window"
      ]
    ]
  },
  {
    "id": "fn_set_report_window",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Set window_minutes",
    "func": "const val = Number(msg.payload) || 5;\nflow.set('reportWindowMinutes', val);\nmsg.payload = `Selected window: ${val} min`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 520,
    "wires": [
      [
        "txt_selected_window"
      ]
    ]
  },
  {
    "id": "txt_selected_window",
    "type": "ui_text",
    "z": "smart_health_flow",
    "group": "ui_group_reports_controls",
    "order": 2,
    "width": 6,
    "height": 1,
    "name": "Selected Window",
    "label": "Selected Window",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 760,
    "y": 520,
    "wires": []
  },
  {
    "id": "btn_run_report",
    "type": "ui_button",
    "z": "smart_health_flow",
    "name": "Run Report",
    "group": "ui_group_reports_controls",
    "order": 3,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "Run Report",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "play_arrow",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 170,
    "y": 560,
    "wires": [
      [
        "fn_build_reports_summary"
      ]
    ]
  },
  {
    "id": "fn_build_reports_summary",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Build GET /reports/summary",
    "func": "const windowMinutes = Number(flow.get('reportWindowMinutes')) || 5;\nmsg.method = 'GET';\nmsg.url = `https://industrialapi.savimind.com/api/reports/summary?window_minutes=${windowMinutes}`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 560,
    "wires": [
      [
        "fn_auth_reports_summary"
      ]
    ]
  },
  {
    "id": "http_reports_summary",
    "type": "http request",
    "z": "smart_health_flow",
    "name": "GET /reports/summary",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": {},
    "x": 820,
    "y": 560,
    "wires": [
      [
        "fn_map_summary_kpis"
      ]
    ]
  },
  {
    "id": "fn_map_summary_kpis",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Map summary → KPIs",
    "func": "const data = msg.payload || {};\n\nconst avgHr = Number(data.average_heart_rate) || 0;\nconst minSpO2 = Number(data.minimum_oxygen_level) || 0;\nconst alertCount = Number(data.alert_count) || 0;\n\nreturn [ { payload: avgHr }, { payload: minSpO2 }, { payload: alertCount } ];",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1130,
    "y": 560,
    "wires": [
      [
        "txt_summary_avghr"
      ],
      [
        "txt_summary_minspo2"
      ],
      [
        "txt_summary_alertcount"
      ]
    ]
  },
  {
    "id": "txt_summary_avghr",
    "type": "ui_text",
    "z": "smart_health_flow",
    "group": "ui_group_reports_summary",
    "order": 1,
    "width": 4,
    "height": 1,
    "name": "Summary Avg HR",
    "label": "Avg HR",
    "format": "{{msg.payload}} bpm",
    "layout": "row-spread",
    "className": "",
    "x": 1460,
    "y": 520,
    "wires": []
  },
  {
    "id": "txt_summary_minspo2",
    "type": "ui_text",
    "z": "smart_health_flow",
    "group": "ui_group_reports_summary",
    "order": 2,
    "width": 4,
    "height": 1,
    "name": "Summary Min SpO2",
    "label": "Min SpO2",
    "format": "{{msg.payload}} %",
    "layout": "row-spread",
    "className": "",
    "x": 1470,
    "y": 560,
    "wires": []
  },
  {
    "id": "txt_summary_alertcount",
    "type": "ui_text",
    "z": "smart_health_flow",
    "group": "ui_group_reports_summary",
    "order": 3,
    "width": 4,
    "height": 1,
    "name": "Summary Alert Count",
    "label": "Alert Count",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1480,
    "y": 600,
    "wires": []
  },
  {
    "id": "btn_export_csv",
    "type": "ui_button",
    "z": "smart_health_flow",
    "name": "Export CSV",
    "group": "ui_group_reports_csv",
    "order": 1,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "Export CSV",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "file_download",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 170,
    "y": 640,
    "wires": [
      [
        "fn_build_reports_export"
      ]
    ]
  },
  {
    "id": "fn_build_reports_export",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Build GET /reports/export",
    "func": "const windowMinutes = Number(flow.get('reportWindowMinutes')) || 5;\nmsg.method = 'GET';\nmsg.url = `https://industrialapi.savimind.com/api/reports/export?window_minutes=${windowMinutes}&format=csv`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 640,
    "wires": [
      [
        "fn_auth_reports_export"
      ]
    ]
  },
  {
    "id": "http_reports_export",
    "type": "http request",
    "z": "smart_health_flow",
    "name": "GET /reports/export (csv)",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": {},
    "x": 840,
    "y": 640,
    "wires": [
      [
        "txt_csv_output"
      ]
    ]
  },
  {
    "id": "txt_csv_output",
    "type": "ui_text_input",
    "z": "smart_health_flow",
    "name": "CSV Output",
    "label": "CSV Output",
    "group": "ui_group_reports_csv",
    "order": 2,
    "width": 12,
    "height": 4,
    "passthru": false,
    "mode": "text",
    "delay": 0,
    "topic": "",
    "x": 1160,
    "y": 640,
    "wires": []
  },

  {
    "id": "slider_hr_high",
    "type": "ui_slider",
    "z": "smart_health_flow",
    "name": "HR High Threshold",
    "label": "HR High Threshold",
    "tooltip": "",
    "group": "ui_group_reports_thresholds",
    "order": 1,
    "width": 6,
    "height": 1,
    "passthru": true,
    "outs": "all",
    "topic": "heart_rate_high",
    "min": 80,
    "max": "160",
    "step": 5,
    "x": 210,
    "y": 720,
    "wires": [
      [
        "fn_collect_thresholds"
      ]
    ]
  },
  {
    "id": "slider_spo2_low",
    "type": "ui_slider",
    "z": "smart_health_flow",
    "name": "SpO2 Low Threshold",
    "label": "SpO2 Low Threshold",
    "tooltip": "",
    "group": "ui_group_reports_thresholds",
    "order": 2,
    "width": 6,
    "height": 1,
    "passthru": true,
    "outs": "all",
    "topic": "oxygen_level_low",
    "min": 80,
    "max": "100",
    "step": 1,
    "x": 220,
    "y": 760,
    "wires": [
      [
        "fn_collect_thresholds"
      ]
    ]
  },
  {
    "id": "slider_temp_high",
    "type": "ui_slider",
    "z": "smart_health_flow",
    "name": "Temp High Threshold",
    "label": "Temp High Threshold",
    "tooltip": "",
    "group": "ui_group_reports_thresholds",
    "order": 3,
    "width": 6,
    "height": 1,
    "passthru": true,
    "outs": "all",
    "topic": "body_temperature_high",
    "min": 36,
    "max": "41",
    "step": 0.1,
    "x": 220,
    "y": 800,
    "wires": [
      [
        "fn_collect_thresholds"
      ]
    ]
  },
  {
    "id": "fn_collect_thresholds",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Collect & PUT thresholds",
    "func": "const topic = msg.topic;\nconst value = Number(msg.payload);\n\nlet thresholds = flow.get('thresholdSettings') || {\n  heart_rate_high: 120,\n  oxygen_level_low: 92,\n  body_temperature_high: 38\n};\n\nif (!isNaN(value) && Object.prototype.hasOwnProperty.call(thresholds, topic)) {\n  thresholds[topic] = value;\n}\n\nflow.set('thresholdSettings', thresholds);\n\nmsg.method = 'PUT';\nmsg.url = 'https://industrialapi.savimind.com/api/settings/thresholds';\nmsg.payload = thresholds;\nmsg.headers = msg.headers || {};\nmsg.headers['Content-Type'] = 'application/json';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 760,
    "wires": [
      [
        "fn_auth_thresholds"
      ]
    ]
  },
  {
    "id": "http_thresholds_put",
    "type": "http request",
    "z": "smart_health_flow",
    "name": "PUT /settings/thresholds",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": {},
    "x": 880,
    "y": 760,
    "wires": [
      [
        "txt_threshold_status"
      ]
    ]
  },
  {
    "id": "txt_threshold_status",
    "type": "ui_text",
    "z": "smart_health_flow",
    "group": "ui_group_reports_thresholds",
    "order": 4,
    "width": 8,
    "height": 1,
    "name": "Threshold Status",
    "label": "Threshold Status",
    "format": "Updated on server",
    "layout": "row-spread",
    "className": "",
    "x": 1180,
    "y": 760,
    "wires": []
  },


  {
    "id": "switch_sim_start",
    "type": "ui_switch",
    "z": "smart_health_flow",
    "name": "Start/Stop",
    "label": "Start Simulation",
    "group": "ui_group_live_controls",
    "order": 1,
    "width": 3,
    "height": 1,
    "passthru": true,
    "decouple": "false",
    "topic": "sim_start",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "",
    "oncolor": "",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "x": 150,
    "y": 840,
    "wires": [
      [
        "fn_sim_control"
      ]
    ]
  },
  {
    "id": "slider_sim_frequency",
    "type": "ui_slider",
    "z": "smart_health_flow",
    "name": "Frequency Slider",
    "label": "Frequency (ms)",
    "tooltip": "",
    "group": "ui_group_live_controls",
    "order": 2,
    "width": 6,
    "height": 1,
    "passthru": true,
    "outs": "all",
    "topic": "sim_frequency",
    "min": 500,
    "max": "3000",
    "step": 100,
    "x": 170,
    "y": 880,
    "wires": [
      [
        "fn_set_sim_frequency"
      ]
    ]
  },
  {
    "id": "switch_sim_fault",
    "type": "ui_switch",
    "z": "smart_health_flow",
    "name": "Fault/Anomaly",
    "label": "Fault/Anomaly",
    "group": "ui_group_live_controls",
    "order": 3,
    "width": 3,
    "height": 1,
    "passthru": true,
    "decouple": "false",
    "topic": "sim_fault",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "",
    "oncolor": "",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "x": 150,
    "y": 920,
    "wires": [
      [
        "fn_set_sim_fault"
      ]
    ]
  },
  {
    "id": "txt_sim_status",
    "type": "ui_text",
    "z": "smart_health_flow",
    "group": "ui_group_live_controls",
    "order": 4,
    "width": 8,
    "height": 1,
    "name": "Last POST Status",
    "label": "Ingestion Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 780,
    "y": 840,
    "wires": []
  },
  {
    "id": "fn_set_sim_frequency",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Set Frequency",
    "func": "const freq = Number(msg.payload) || 1000;\nflow.set('simIntervalMs', freq);\nmsg.payload = `Frequency set to ${freq} ms`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 880,
    "wires": [
      [
        "txt_sim_status"
      ]
    ]
  },
  {
    "id": "fn_set_sim_fault",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Set Fault Mode",
    "func": "const on = msg.payload === '1';\nflow.set('simFaultMode', on);\nmsg.payload = on ? 'Fault/Anomaly mode: ON' : 'Fault/Anomaly mode: OFF';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 920,
    "wires": [
      [
        "txt_sim_status"
      ]
    ]
  },
  {
    "id": "fn_sim_control",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Simulation Control",
    "func": "const running = msg.payload === '1';\nconst previousTimeout = context.get('simTimeout');\n\nif (!running && previousTimeout) {\n  clearTimeout(previousTimeout);\n  context.set('simTimeout', null);\n  flow.set('simRunning', false);\n  msg.payload = 'Simulation stopped';\n  return [null, msg];\n}\n\nif (running) {\n  flow.set('simRunning', true);\n  // kick first tick\n  const tickMsg = { topic: 'sim_tick' };\n  return [tickMsg, { payload: 'Simulation started' }];\n}\n\nreturn [null, null];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 840,
    "wires": [
      [
        "fn_simulation_tick"
      ],
      [
        "txt_sim_status"
      ]
    ]
  },
  {
    "id": "fn_simulation_tick",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Simulation Tick",
    "func": "const running = flow.get('simRunning');\nif (!running) {\n  return [null, null];\n}\n\nconst interval = Number(flow.get('simIntervalMs')) || 1000;\nconst fault = !!flow.get('simFaultMode');\n\n// 3 devices (patients)\nconst devices = ['P-101', 'P-102', 'P-103'];\nconst deviceId = devices[Math.floor(Math.random() * devices.length)];\n\nfunction baseBetween(min, max) {\n  return Math.random() * (max - min) + min;\n}\n\nlet heartRate = baseBetween(60, 100);\nlet oxygen = baseBetween(94, 99);\nlet temp = baseBetween(36.4, 37.5);\nlet steps = Math.floor(baseBetween(1000, 8000));\n\nif (fault) {\n  const mode = Math.floor(Math.random() * 3);\n  if (mode === 0) heartRate = baseBetween(140, 190);\n  if (mode === 1) oxygen = baseBetween(80, 90);\n  if (mode === 2) temp = baseBetween(38.5, 41);\n}\n\nconst now = new Date().toISOString();\n\nconst ingestMsg = {\n  payload: {\n    deviceId: deviceId,\n    heartRate: Math.round(heartRate),\n    oxygenLevel: Math.round(oxygen),\n    bodyTemperature: Number(temp.toFixed(1)),\n    steps: steps,\n    timestamp: now\n  }\n};\n\nconst uiMsg = {\n  payload: {\n    heartRate: Math.round(heartRate),\n    oxygenLevel: Math.round(oxygen),\n    bodyTemperature: Number(temp.toFixed(1)),\n    steps: steps,\n    deviceId: deviceId,\n    timestamp: now\n  }\n};\n\n// schedule next tick\nconst nodeRef = node;\nconst timeoutId = setTimeout(() => {\n  nodeRef.send([{ topic: 'sim_tick' }, null]);\n}, interval);\ncontext.set('simTimeout', timeoutId);\n\nreturn [ingestMsg, uiMsg];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 880,
    "wires": [
      [
        "fn_auth_ingest"
      ],
      [
        "fn_route_sim_to_ui"
      ]
    ]
  },
  {
    "id": "http_ingest_data",
    "type": "http request",
    "z": "smart_health_flow",
    "name": "POST /api/patients/data",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://industrialapi.savimind.com/api/patients/data",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": {},
    "x": 1040,
    "y": 840,
    "wires": [
      [
        "fn_update_ingest_status"
      ]
    ]
  },
  {
    "id": "fn_update_ingest_status",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Update Ingestion Status",
    "func": "const status = msg.statusCode || msg.status || 0;\nif (status >= 200 && status < 300) {\n  msg.payload = `Last POST OK (status ${status})`;\n} else {\n  msg.payload = `Last POST failed (status ${status})`;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1300,
    "y": 840,
    "wires": [
      [
        "txt_sim_status"
      ]
    ]
  },
  {
    "id": "fn_route_sim_to_ui",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Route Sim → UI",
    "func": "const data = msg.payload || {};\n\nconst hrMsg = { payload: data.heartRate };\nconst spo2Msg = { payload: data.oxygenLevel };\nconst tempMsg = {\n  payload: data.bodyTemperature,\n  timestamp: data.timestamp\n};\n\nreturn [hrMsg, spo2Msg, tempMsg];",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1060,
    "y": 920,
    "wires": [
      [
        "gauge_hr_current"
      ],
      [
        "gauge_spo2_current"
      ],
      [
        "chart_temp_rolling"
      ]
    ]
  },
  {
    "id": "gauge_hr_current",
    "type": "ui_gauge",
    "z": "smart_health_flow",
    "name": "Current HR",
    "group": "ui_group_live_gauges",
    "order": 1,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Heart Rate (bpm)",
    "label": "bpm",
    "format": "{{value}}",
    "min": 40,
    "max": "200",
    "seg1": "",
    "seg2": "",
    "x": 1380,
    "y": 900,
    "wires": []
  },
  {
    "id": "gauge_spo2_current",
    "type": "ui_gauge",
    "z": "smart_health_flow",
    "name": "Current SpO2",
    "group": "ui_group_live_gauges",
    "order": 2,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "SpO₂ (%)",
    "label": "%",
    "format": "{{value}}",
    "min": 70,
    "max": "100",
    "seg1": "",
    "seg2": "",
    "x": 1380,
    "y": 940,
    "wires": []
  },
  {
    "id": "chart_temp_rolling",
    "type": "ui_chart",
    "z": "smart_health_flow",
    "name": "Body Temperature (Rolling)",
    "group": "ui_group_live_chart_rest",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Body Temperature (°C)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "35",
    "ymax": "42",
    "removeOlder": "120",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#ff7f0e", "#aec7e8"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1400,
    "y": 980,
    "wires": []
  },


  {
    "id": "btn_graphql_patients",
    "type": "ui_button",
    "z": "smart_health_flow",
    "name": "Load via GraphQL",
    "group": "ui_group_live_graphql",
    "order": 1,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "Load Patients (GraphQL)",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "cloud_download",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 170,
    "y": 1040,
    "wires": [
      [
        "fn_build_graphql_patients_query"
      ]
    ]
  },
  {
    "id": "fn_build_graphql_patients_query",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Build GraphQL Patients Query",
    "func": "msg.method = 'POST';\nmsg.url = 'https://industrialapi.savimind.com/graphql';\nmsg.headers = {\n  'Content-Type': 'application/json'\n};\nmsg.payload = {\n  query: `query { patients { id name heartRate oxygenLevel bodyTemperature } }`\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 1040,
    "wires": [
      [
        "http_graphql_query"
      ]
    ]
  },
  {
    "id": "http_graphql_query",
    "type": "http request",
    "z": "smart_health_flow",
    "name": "POST /graphql (patients)",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": {},
    "x": 820,
    "y": 1040,
    "wires": [
      [
        "fn_map_graphql_patients"
      ]
    ]
  },
  {
    "id": "fn_map_graphql_patients",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Map GraphQL → Table",
    "func": "const payload = msg.payload || {};\nconst data = payload.data || {};\nconst patients = Array.isArray(data.patients) ? data.patients : [];\n\nmsg.payload = patients.map(p => ({\n  id: p.id,\n  name: p.name,\n  heartRate: p.heartRate,\n  oxygenLevel: p.oxygenLevel,\n  bodyTemperature: p.bodyTemperature\n}));\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1120,
    "y": 1040,
    "wires": [
      [
        "tbl_graphql_patients"
      ]
    ]
  },
  {
    "id": "tbl_graphql_patients",
    "type": "ui_table",
    "z": "smart_health_flow",
    "group": "ui_group_live_graphql",
    "name": "Patients (GraphQL)",
    "order": 2,
    "width": 0,
    "height": 0,
    "columns": [
      { "field": "id", "title": "ID", "width": "80" },
      { "field": "name", "title": "Name", "width": "120" },
      { "field": "heartRate", "title": "HR", "width": "80" },
      { "field": "oxygenLevel", "title": "SpO2", "width": "80" },
      { "field": "bodyTemperature", "title": "Temp", "width": "80" }
    ],
    "outputs": 0,
    "cts": false,
    "x": 1400,
    "y": 1040,
    "wires": []
  },

  {
    "id": "ws_graphql_client",
    "type": "websocket-client",
    "path": "wss://industrialapi.savimind.com/graphql",
    "tls": "",
    "wholemsg": "false"
  },
  {
    "id": "btn_start_subscription",
    "type": "ui_button",
    "z": "smart_health_flow",
    "name": "Start Subscription",
    "group": "ui_group_live_graphql",
    "order": 3,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "Start HR Subscription",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "play_circle_filled",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 190,
    "y": 1080,
    "wires": [
      [
        "fn_build_graphql_subscription"
      ]
    ]
  },
  {
    "id": "fn_build_graphql_subscription",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Build GraphQL Subscription Frame",
    "func": "msg.payload = JSON.stringify({\n  type: 'start',\n  id: 'liveVitalsSub',\n  payload: {\n    query: 'subscription { liveVitals { id heartRate oxygenLevel bodyTemperature steps } }'\n  }\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 1080,
    "wires": [
      [
        "ws_out_graphql"
      ]
    ]
  },
  {
    "id": "ws_out_graphql",
    "type": "websocket out",
    "z": "smart_health_flow",
    "name": "WS Out GraphQL",
    "server": "",
    "client": "ws_graphql_client",
    "x": 880,
    "y": 1080,
    "wires": []
  },
  {
    "id": "ws_in_graphql",
    "type": "websocket in",
    "z": "smart_health_flow",
    "name": "WS In GraphQL",
    "server": "",
    "client": "ws_graphql_client",
    "x": 220,
    "y": 1120,
    "wires": [
      [
        "fn_parse_graphql_subscription"
      ]
    ]
  },
  {
    "id": "fn_parse_graphql_subscription",
    "type": "function",
    "z": "smart_health_flow",
    "name": "Parse Subscription Payload",
    "func": "let data;\ntry {\n  data = JSON.parse(msg.payload);\n} catch (e) {\n  node.warn('Invalid JSON from subscription');\n  return null;\n}\n\nif (!data || !data.payload || !data.payload.data || !data.payload.data.liveVitals) {\n  return null;\n}\n\nconst v = data.payload.data.liveVitals;\nconst hr = Number(v.heartRate) || 0;\n\nmsg.payload = hr;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1120,
    "wires": [
      [
        "chart_hr_graphql"
      ]
    ]
  },
  {
    "id": "chart_hr_graphql",
    "type": "ui_chart",
    "z": "smart_health_flow",
    "name": "HR (GraphQL Subscription)",
    "group": "ui_group_live_graphql",
    "order": 4,
    "width": 0,
    "height": 0,
    "label": "Heart Rate (GraphQL)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "40",
    "ymax": "200",
    "removeOlder": "120",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#2ca02c", "#aec7e8"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 900,
    "y": 1120,
    "wires": []
  }
]
